<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>магазин forPolLis</title>
</head>
<body>
<h1><b><center>ГЛАВНАЯ СТРАНИЦА</center></b></h1>
<h1><b><center><i>магазин вязаных вещей</i></center></b></h1>
<h1><b><center><i>for PolLIs</i></center></b></h1>
    <a href='#'>Главная</a>
    <p><button><a href="http://127.0.0.1:8000/products/">ПРОДУКЦИЯ</a></button></p>
    <p><button><a href="http://127.0.0.1:8000/order/">ЗАКАЗАТЬ</a></button></p>
</body>
</html>